## Kiva Loan Funding - Data Selection

**PURPOSE**: Predict which microfinance loans will be funded and how quickly they will be funded

**STEPS:**
+ Data Import & Cleaning
+ Exploratory Data Analysis 


**AUTHOR** : Maureen Wiebe

**DATA SOURCES**:<br> 
- Kiva Developer Tools: https://www.kiva.org/build/data-snapshots
    
**REV DATE**: 2-27-2020

In [1]:
import pandas as pd 
from datetime import datetime
import matplotlib.pyplot as plt
from pandas_profiling import ProfileReport
pd.set_option('max_columns', None)

### Data Import

In [2]:
#import dataset originally from http://s3.kiva.org/snapshots/kiva_ds_csv.zip
loans = pd.read_csv('C:/Users/mwalz2/Documents/Python/Springboard/Kiva_Capstone_Project/data/raw/loans.csv')

### Initial Exploration

In [3]:
loans.columns

Index(['LOAN_ID', 'LOAN_NAME', 'ORIGINAL_LANGUAGE', 'DESCRIPTION',
       'DESCRIPTION_TRANSLATED', 'FUNDED_AMOUNT', 'LOAN_AMOUNT', 'STATUS',
       'IMAGE_ID', 'VIDEO_ID', 'ACTIVITY_NAME', 'SECTOR_NAME', 'LOAN_USE',
       'COUNTRY_CODE', 'COUNTRY_NAME', 'TOWN_NAME', 'CURRENCY_POLICY',
       'CURRENCY_EXCHANGE_COVERAGE_RATE', 'CURRENCY', 'PARTNER_ID',
       'POSTED_TIME', 'PLANNED_EXPIRATION_TIME', 'DISBURSE_TIME',
       'RAISED_TIME', 'LENDER_TERM', 'NUM_LENDERS_TOTAL',
       'NUM_JOURNAL_ENTRIES', 'NUM_BULK_ENTRIES', 'TAGS', 'BORROWER_NAMES',
       'BORROWER_GENDERS', 'BORROWER_PICTURED', 'REPAYMENT_INTERVAL',
       'DISTRIBUTION_MODEL'],
      dtype='object')

In [4]:
loans.head()

,LOAN_ID,LOAN_NAME,ORIGINAL_LANGUAGE,DESCRIPTION,DESCRIPTION_TRANSLATED,FUNDED_AMOUNT,LOAN_AMOUNT,STATUS,IMAGE_ID,VIDEO_ID,ACTIVITY_NAME,SECTOR_NAME,LOAN_USE,COUNTRY_CODE,COUNTRY_NAME,TOWN_NAME,CURRENCY_POLICY,CURRENCY_EXCHANGE_COVERAGE_RATE,CURRENCY,PARTNER_ID,POSTED_TIME,PLANNED_EXPIRATION_TIME,DISBURSE_TIME,RAISED_TIME,LENDER_TERM,NUM_LENDERS_TOTAL,NUM_JOURNAL_ENTRIES,NUM_BULK_ENTRIES,TAGS,BORROWER_NAMES,BORROWER_GENDERS,BORROWER_PICTURED,REPAYMENT_INTERVAL,DISTRIBUTION_MODEL
0,372964,JENELYN,English,"At the age of 20, Jenelyn is married and has o...",NaN,175.0,175.0,funded,952522.0,NaN,General Store,Retail,"to buy sardines, instant noodles, soap, and de...",PH,Philippines,"Liwan Sur, Enrile, Cagayan",shared,0.2,PHP,123.0,2011-12-20 06:04:56.000 +0000,NaN,2011-11-24 08:00:00.000 +0000,2012-01-02 09:01:26.000 +0000,8.0,7,1,1,NaN,JENELYN,female,true,monthly,field_partner
1,1037234,Zohra\t,English,Zohra is a housewife with four children residi...,Zohra is a housewife with four children residi...,400.0,400.0,funded,2124057.0,NaN,Retail,Retail,to invest in her husband's automobile business.,PK,Pakistan,Rawalpindi,shared,0.1,PKR,247.0,2016-03-11 11:24:20.000 +0000,2016-04-13 07:30:02.000 +0000,2016-02-18 08:00:00.000 +0000,2016-04-12 23:29:40.000 +0000,13.0,15,2,1,"#Parent, user_favorite",Zohra\t,female,true,monthly,field_partner
2,1037493,Suma Inti Group,Spanish,La A.C. “Suma Inti” iniciará el segundo ciclo ...,The “Suma Inti” communal bank is starting thei...,3400.0,3400.0,funded,2124476.0,NaN,Butcher Shop,Food,"to buy meat, pasta and oil wholesale.",BO,Bolivia,El Alto,shared,0.1,BOB,59.0,2016-03-11 22:00:46.000 +0000,2016-04-14 17:10:02.000 +0000,2016-02-27 08:00:00.000 +0000,2016-03-24 08:31:37.000 +0000,10.0,82,3,2,"#Repeat Borrower, user_favorite, user_favorite...","Eliza Betty, Olga, Dora, Aurora, Gladys, Nelly...","female, female, female, female, female, female...","true, true, true, true, true, true, true, true...",monthly,field_partner
3,1800053,Irene,English,Irene is a married woman with five children. S...,Irene is a married woman with five children. S...,150.0,150.0,funded,3204329.0,NaN,Fish Selling,Food,to buy a variety of fish to sell and other sup...,PH,Philippines,"Calbayog City 2, Samar",shared,0.1,PHP,145.0,2019-07-17 05:42:15.000 +0000,2019-08-18 00:30:06.000 +0000,2019-06-18 07:00:00.000 +0000,2019-07-19 13:01:53.000 +0000,8.0,6,2,1,"#Woman Owned Biz, user_favorite",Irene,female,true,monthly,field_partner
4,542923,Duo Perlas De Ramirez Group,Spanish,\n\n\nDUO PERLAS DE RAMIREZ\n\nESTA FORMADO PO...,Perlas de Ramirez group.\r\n\r\nThis group has...,775.0,775.0,funded,1321915.0,NaN,Food Production/Sales,Food,to buy ingredients for making tamales,GT,Guatemala,"Barcenas,Villa Nueva",shared,0.1,GTQ,97.0,2013-03-26 15:15:18.000 +0000,2013-04-26 12:20:03.000 +0000,2013-03-22 07:00:00.000 +0000,2013-03-28 01:46:04.000 +0000,8.0,29,1,1,NaN,"Sandra, Marta","female, female","true, true",monthly,field_partner

In [5]:
loans.describe().round(2)

,LOAN_ID,FUNDED_AMOUNT,LOAN_AMOUNT,IMAGE_ID,VIDEO_ID,CURRENCY_EXCHANGE_COVERAGE_RATE,PARTNER_ID,LENDER_TERM,NUM_LENDERS_TOTAL,NUM_JOURNAL_ENTRIES,NUM_BULK_ENTRIES
count,1926374.00,1926374.00,1926374.00,1880820.00,1019.00,1534009.00,1906829.00,1926350.00,1926374.00,1926374.00,1926374.00
mean,980993.46,777.81,819.24,1954238.73,2870.06,0.11,164.40,13.14,21.35,1.53,1.14
std,564956.79,1098.04,1209.00,941850.17,1106.04,0.04,102.75,7.30,28.83,1.04,0.50
min,84.00,0.00,25.00,241.00,7.00,0.00,1.00,1.00,0.00,1.00,1.00
25%,493351.25,275.00,275.00,1234500.75,2451.50,0.10,107.00,8.00,8.00,1.00,1.00
50%,980791.50,500.00,500.00,2043564.50,2965.00,0.10,145.00,13.00,14.00,1.00,1.00
75%,1469071.75,925.00,975.00,2769549.25,3544.00,0.10,185.00,14.00,26.00,2.00,1.00
max,1963429.00,100000.00,499975.00,3535083.00,4772.00,0.20,609.00,195.00,3234.00,124.00,62.00

##### Data Spread
Kiva started offering loans in 2006 and their business has grown since. The total loans provided leveled off in ~2017.  

*Not all of the loans from 2020 were included in the dataset.

In [8]:
# of loans posted in each year
loans['POSTED_TIME'] = pd.to_datetime(loans['POSTED_TIME'] )
loans.POSTED_TIME.dt.year.value_counts().sort_index(ascending = False)

2020     57324
2019    219005
2018    229633
2017    225476
2016    197236
2015    181835
2014    174232
2013    140035
2012    133847
2011    113009
2010     92902
2009     81629
2008     50697
2007     26314
2006      3200
Name: POSTED_TIME, dtype: int64

### Data Set 

Two different sample populations will be used to build & test the models.  The first dataset will be the 2nd half of 2019 (July-December 2019).  The second set will be a randomly selected set of 110,000 loans between 2011-2019.

In [10]:
#create new table for loan data for 2nd half of 2019 to be used to build model 
loans_2019 = loans[loans.POSTED_TIME.between('07-01-2019','12-31-2019')].sort_values('POSTED_TIME', ascending = False).reset_index(drop = True).copy()

#export new table to interim dataset 
loans_2019.to_pickle('C:/Users/mwalz2/Documents/Python/Springboard/Kiva_Capstone_Project/data/interim/loans_2019.pkl')

In [11]:
#create new table for loan data that includes 110000 loans between 2011-2019
loans_rand = loans[loans.POSTED_TIME.dt.year.between(2011,2019)].sample(n = 110000, random_state = 27) 

#export to new table to interim dataset 
loans_rand.to_pickle('C:/Users/mwalz2/Documents/Python/Springboard/Kiva_Capstone_Project/data/interim/loans_rand.pkl')